@using Fiorello_Front_To_Back.Areas.Admin.ViewModels.Products
@model ProductsIndexViewModel
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Products</h4>
                        <a class="btn btn-main" href="/admin/product/create">Create categories</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Photo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model.Products)
                                    {
                                        <tr>
                                            <td>@product.Id</td>
                                            <td>@product.Title</td>
                                            <td><img src="~/images/@product.PhotoName"><td>
                                            <td>
                                                <a class="btn btn-primary" asp-action="update" asp-controller="product" asp-area="admin" asp-route-id="@product.Id">
                                                    Update
                                                </a>
                                                <br>
                                                </br>
                                                <a class="btn btn-danger" asp-action="delete" asp-controller="product" asp-area="admin" asp-route-id="@product.Id">
                                                    Delete
                                                </a>
                                                <br>
                                                </br>
                                                <a class="btn btn-danger" asp-action="details" asp-controller="product" asp-area="admin" asp-route-id="@product.Id">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>